<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Runway">
	<listeners>
		<listener class-name="com.ots.test.ui.common.utils.TestNGCustomResults"></listener>
	</listeners>
	<test thread-count="6" name="Test">

		<classes>
		
			<class name="DashboardTest" />
      	                <class name="OTSByDateTest" />
			<class name="OTSApiTest" />
			<class name="OtsEnhancement" />
			<class name="LoginTest" />
			<class name="NegativeOTSByDateTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
